Question 1


---
How many orders were shipped by Speedy Express in total?

In [ ]:
SELECT COUNT(OrderID) FROM
Orders INNER JOIN Shippers 
ON Orders.ShipperID = Shippers.ShipperID
WHERE ShipperName = 'Speedy Express'

The answer is : **54**

Question 2 


---

What is the last name of the employee with the most orders?

In [ ]:
SELECT Employees.LastName
FROM Employees
WHERE (SELECT Orders.EmployeeID
FROM Orders
GROUP BY Orders.EmployeeID
ORDER BY COUNT(Orders.EmployeeID) DESC
LIMIT 1) == Employees.EmployeeID;

The answer is **Peacock**

Question 3


---

What product was ordered the most by customers in Germany?

In [ ]:
SELECT Products.ProductName, Customers.Country, COUNT(Orders.OrderID) AS OrderCount
FROM Customers
LEFT JOIN Orders ON Customers.CustomerID == Orders.CustomerID
LEFT JOIN OrderDetails ON Orders.OrderID == OrderDetails.OrderID
LEFT JOIN Products ON OrderDetails.ProductID == Products.ProductID
WHERE Country == 'Germany'
GROUP BY ProductName 
ORDER BY OrderCount DESC
LIMIT 1;

The answer is **Gorgonzola Telino**